* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.statistics-section {
  background: linear-gradient(to bottom right, #f4f4f8, #e0e8f9);
  padding: 50px 20px;
  text-align: center;
}

.statistics-section h2 {
  color: #1a3a72;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.statistics-section p {
  font-size: 1.1em;
  color: #666666;
  margin-bottom: 40px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.statistics {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 40px;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.stat-item {
  background: #ffffff;
  padding-top: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  flex: 1 1 200px;
}

.stat-item:hover {
  transform: scale(1.05);
}

.stat-item i {
  font-size: 2rem;
  color: #2dbe60;
  margin-bottom: 10px;
}

.stat-number {
  font-size: 1.5em;
  color: #1a3a72;
  font-weight: bold;
}

.stat-item p {
  font-size: 1em;
  color: #333333;
}

.cta-button {
  background-color: #1a3a72;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #2dbe60;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .stat-item {
    margin-bottom: 20px;
    flex: 1 1 130px;
  }

  .statistics-section h2 {
    font-size: 1.6em; /* Smaller heading on mobile */
  }

  .stat-item .stat-number {
    font-size: 1.2rem;
  }

  .statistics-section p {
    font-size: 1em; /* Smaller paragraph on mobile */
  }
  .stat-item i {
    font-size: 1.6rem;
  }
  .cta-button {
    width: 100%; /* Full width for the button */
    padding: 15px; /* Adjust padding */
  }
}

@media (max-width: 500px) {
  .statistics-section h2 {
    font-size: 1.3rem;
  }

  .statistics-section p {
    font-size: 1em;
  }
}
