* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.statistics-section {
  background: linear-gradient(to bottom right, #f4f4f8, #e0e8f9);
  padding: 50px 20px;
  text-align: center;
}

.statistics-section h2 {
  color: #1a3a72;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.statistics-section p {
  font-size: 1.1em;
  color: #666666;
  margin-bottom: 40px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.statistics {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.stat-item {
  background: #ffffff;
  padding-top: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
  flex: 1 1 200px;
}

.stat-item:hover {
  transform: scale(1.05);
}

.stat-item i {
  font-size: 2rem;
  color: #2dbe60;
  margin-bottom: 10px;
}

.stat-number {
  font-size: 1.5em;
  color: #1a3a72;
  font-weight: bold;
}

.stat-item p {
  font-size: 1em;
  color: #333333;
}

.cta-button {
  background-color: #1a3a72;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #2dbe60;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .stat-item {
    margin-bottom: 20px;
    flex: 1 1 130px;
  }

  .statistics-section h2 {
    font-size: 1.6em;
  }

  .stat-item .stat-number {
    font-size: 1.2rem;
  }

  .statistics-section p {
    font-size: 1em;
  }
  .stat-item i {
    font-size: 1.6rem;
  }
  .cta-button {
    width: 100%;
    padding: 15px;
  }
}

@media (max-width: 500px) {
  .statistics-section h2 {
    font-size: 1.3rem;
  }

  .statistics-section p {
    font-size: 1em;
  }
}

/* findandjoin__chanlleges */
.findandjoin__challenges {
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
}

.find_the_best_challenges {
  color: #2dbe60;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.join__challenges {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

@media (max-width: 900px) {
  .find_the_best_challenges {
    font-size: 1.3rem;
  }

  .join__challenges {
    color: #333;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 2rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 900px) {
  .find_the_best_challenges {
    font-size: 1rem;
  }

  .join__challenges {
    color: #333;
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 2rem;
    letter-spacing: 1px;
  }
}

/* why choose catalyst  */

#why-choose-catalystion {
  background: linear-gradient(to bottom right, #f4f4f8, #e0e8f9);
  padding: 50px 0;
  margin-top: 1rem;
}

.why-choose-section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

#why-choose-catalystion h2 {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

.section-description {
  font-size: 1rem;
  color: #7f8c8d;
  margin-bottom: 30px;
  line-height: 1.6;
}

.benefits {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.benefit-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s;
  margin: 1rem;
}

.benefit-item:hover {
  transform: scale(1.05);
}

.benefit-item .benefit-icon {
  font-size: 1.7rem;
  margin-bottom: 15px;
}

.benefit-item h3 {
  font-size: 1.2rem;
  color: #2dbe60;
  margin-bottom: 10px;
}

.benefit-item p {
  font-size: 0.85rem;
  color: #7f8c8d;
  line-height: 1.4;
}

.benefit-item {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.benefit-item.animate {
  opacity: 1;
  transform: scale(1);
}

.fas {
  font-size: 2rem;
}

@media (max-width: 900px) {
  #why-choose-catalystion h2 {
    font-size: 1.8rem;
  }

  .section-description {
    font-size: 0.8rem;
  }

  .benefit-item h3 {
    font-size: 1rem;
    color: #2dbe60;
    margin-bottom: 10px;
  }

  .benefit-item .benefit-icon {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .benefit-item p {
    font-size: 0.7rem;
    color: #7f8c8d;
    line-height: 1.4;
  }
}

@media (max-width: 700px) {
  #why-choose-catalystion h2 {
    font-size: 1.5rem;
  }

  .section-description {
    font-size: 0.6rem;
  }

  .benefit-item h3 {
    font-size: 0.9rem;
    color: #2dbe60;
    margin-bottom: 10px;
  }

  .benefit-item .benefit-icon {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }

  .benefit-item p {
    font-size: 0.6rem;
    color: #7f8c8d;
    line-height: 1.4;
  }
}

@media (max-width: 500px) {
  #why-choose-catalystion h2 {
    font-size: 1.3rem;
  }

  .section-description {
    font-size: 0.6rem;
  }

  .benefit-item h3 {
    font-size: 0.9rem;
    color: #2dbe60;
    margin-bottom: 10px;
  }

  .benefit-item .benefit-icon {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }

  .benefit-item p {
    font-size: 0.6rem;
    color: #7f8c8d;
    line-height: 1.4;
  }
}
