* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin-top: -20px;
  padding: 3rem 1.5rem;
}

.navbar img {
  mix-blend-mode: multiply;
  width: 20rem;
  position: relative;
  top: 1rem;
}

.navbar .nav__links {
  display: flex;
}

.nav__links li {
  list-style: none;
}

.nav__links li a {
  text-decoration: none;
  margin-right: 2rem;
  font-size: 1.3rem;
  color: #1a3a72;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 10px;
  transition: 300ms;
}

.nav__links li a:hover {
  background-color: #2dbe60;
  color: #fff;
}
.icons i {
  font-size: 1.8rem;
  color: #1a3a72;
  cursor: pointer;
  width: 1.7rem;
  height: 2rem;
  margin-top: 2rem;
}

.icons {
  display: none;
}

@media (max-width: 1100px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar img {
    width: 18rem;
  }

  .navbar .nav__links {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(250, 247, 247);
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .nav__links li {
    position: relative;
    padding: 2rem 0;
  }

  .nav__links li a {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }

  .icons {
    display: block;
  }

  .icons .croos_icon {
    display: none;
  }
}

@media (max-width: 500px) {
  .navbar {
    justify-content: space-between;
    margin-right: 2.8rem;
  }

  .navbar img {
    width: 15rem;
  }

  .icons i {
    font-size: 1.7rem;
    margin-top: 38px;
  }
}

.aboutus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(203, 234, 255, 0.422);
  padding: 1rem;
}

.aboutus__info {
  width: 40%;
}

.aboutus__info h1 {
  margin-bottom: 1rem;
  color: #1a3a72;
  text-align: center;
}

.aboutus__info p {
  text-align: justify;
  font-size: 1.2rem;
}

.aboutus img {
  width: 20rem;
  height: 20rem;
}

@media (max-width: 700px) {
  .aboutus__info h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .aboutus__info p {
    text-align: justify;
    font-size: 0.8rem;
  }

  .aboutus img {
    width: 15rem;
    height: 15rem;
    margin-top: 2rem;
  }
}

@media (max-width: 550px) {
  .aboutus__info h1 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }

  .aboutus__info p {
    text-align: justify;
    font-size: 0.7rem;
  }

  .aboutus img {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 450px) {
  .aboutus {
    gap: 1rem;
  }
  .aboutus__info h1 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }

  .aboutus__info p {
    text-align: justify;
    font-size: 0.6rem;
  }

  .aboutus img {
    width: 10rem;
    height: 10rem;
  }
}

/* vision */
.vision {
  margin: 2.5rem 13rem;
}
.section-title {
  display: flex;
  align-items: center;
  text-align: center;
}

.section-title hr {
  flex: 1;
  border: none;
  border-top: 1px solid #999;
}

.section-title span {
  padding: 0 10px;
  font-weight: 600;
  font-size: 2rem;
  color: #1a3a72;
}

.vision-info {
  font-size: 1.2rem;
  text-align: center;
  color: #333;
  margin-top: 20px;
}

@media (max-width: 1252px) {
  .vision {
    margin: 2.5rem 9.5rem;
  }

  .section-title span {
    font-size: 1.8rem;
  }

  .vision-info {
    font-size: 1rem;
    margin-top: 15px;
  }
}

@media (max-width: 900px) {
  .vision {
    margin: 2.5rem 5rem;
  }

  .section-title span {
    font-size: 1.6rem;
  }

  .vision-info {
    font-size: 0.9rem;
    margin-top: 15px;
  }
}

@media (max-width: 700px) {
  .vision {
    margin: 2.5rem 4rem;
  }

  .section-title span {
    font-size: 1.6rem;
  }

  .vision-info {
    font-size: 0.9rem;
    margin-top: 15px;
    text-align: justify;
  }
}

@media (max-width: 500px) {
  .vision {
    margin: 2.5rem 2rem;
  }

  .section-title span {
    font-size: 1.6rem;
  }

  .vision-info {
    font-size: 0.8rem;
    margin-top: 15px;
  }
}

/* core values */
.core_values {
  margin: 2.5rem 13rem;
}
.section-title_core_values {
  display: flex;
  align-items: center;
  text-align: center;
}

.section-title_core_values hr {
  flex: 1;
  border: none;
  border-top: 1px solid #999;
}

.section-title_core_values span {
  padding: 0 10px;
  font-weight: 600;
  font-size: 2rem;
  color: #1a3a72;
}

.info-section_wrapper {
  display: flex;
  gap: 2rem;
}

.info-section {
  background-color: #f0fff4;
  width: 50%;
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  gap: 0.8rem;
  min-height: 180px;
}

.info-icon-text {
  display: flex;
  align-items: center;
}

.info-icon-text img {
  width: 4rem;
  mix-blend-mode: multiply;
}

.info-icon-text p {
  color: #1a3a72;
  font-size: 1.5rem;
  font-weight: 500;
}

.info-description {
  font-size: 1.1rem;
  color: #2e3b2e;
}

@media (max-width: 1252px) {
  .core_values {
    margin: 2.5rem 9.5rem;
  }

  .section-title_core_values span {
    font-size: 1.8rem;
  }

  .info-section {
    padding: 1.3rem;
  }

  .info-icon-text img {
    width: 4.5rem;
  }

  .info-icon-text p {
    font-size: 1.3rem;
  }

  .info-description {
    font-size: 1rem;
    color: #2e3b2e;
  }
}

@media (max-width: 900px) {
  .core_values {
    margin: 2.5rem 5rem;
  }

  .section-title_core_values span {
    font-size: 1.6rem;
  }

  .info-section {
    padding: 1rem;
  }

  .info-icon-text img {
    width: 3.5rem;
  }

  .info-icon-text p {
    font-size: 1.1rem;
  }

  .info-description {
    font-size: 0.8rem;
    color: #2e3b2e;
  }
}

@media (max-width: 700px) {
  .core_values {
    margin: 2.5rem 4rem;
  }

  .section-title_core_values span {
    font-size: 1.5rem;
  }

  .info-section {
    padding: 0.9rem;
  }

  .info-icon-text img {
    width: 3.2rem;
  }

  .info-icon-text p {
    font-size: 1rem;
  }

  .info-description {
    font-size: 0.7rem;
    color: #2e3b2e;
  }
}

@media (max-width: 700px) {
  .core_values {
    margin: 2.5rem 2rem;
  }

  .section-title_core_values span {
    font-size: 1.5rem;
  }

  .info-section_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-icon-text img {
    width: 2.5rem;
  }

  .info-icon-text p {
    font-size: 0.9rem;
  }

  .info-description {
    font-size: 0.6rem;
    color: #2e3b2e;
  }
}

@media (max-width: 500px) {
  .core_values {
    margin: 2.5rem 2rem;
  }

  .section-title_core_values span {
    font-size: 1.3rem;
  }

  .info-section_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-icon-text img {
    width: 2.5rem;
  }

  .info-icon-text p {
    font-size: 0.9rem;
  }

  .info-description {
    font-size: 0.6rem;
    color: #2e3b2e;
  }
}

/* What we offer */
.whatweoffer {
  margin: 4rem 0;
}
.section-title_whatweoffer {
  display: flex;
  align-items: center;
  text-align: center;
}

.section-title_whatweoffer hr {
  flex: 1;
  border: none;
  border-top: 1px solid #999;
}

.section-title_whatweoffer span {
  padding: 0 10px;
  font-weight: 600;
  font-size: 2rem;
  color: #1a3a72;
}

.offer-card .offer-icon-text {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.offer-card .offer-icon-text img {
  width: 4rem;
}

.offer-icon-text p {
  font-size: 1.5rem;
  color: #1a3a72;
  font-weight: 500;
}

.offer-card-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

@media (max-width: 1252px) {
  .whatweoffer {
    margin: 3rem 0;
  }

  .section-title_whatweoffer span {
    font-size: 1.8rem;
  }

  .offer-card .offer-icon-text {
    margin-bottom: 0.5rem;
  }

  .offer-card .offer-icon-text img {
    width: 3rem;
  }

  .offer-icon-text p {
    font-size: 1.3rem;
  }

  .offer-card-wrapper {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
  }

  .offer-description {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .whatweoffer {
    margin: 3rem 0;
  }

  .section-title_whatweoffer span {
    font-size: 1.6rem;
  }

  .offer-card .offer-icon-text img {
    width: 2.5rem;
  }

  .offer-icon-text p {
    font-size: 1.2rem;
  }

  .offer-card-wrapper {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
  }

  .offer-description {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .section-title_whatweoffer span {
    font-size: 1.5rem;
  }

  .offer-card .offer-icon-text img {
    width: 2rem;
  }

  .offer-icon-text p {
    font-size: 1rem;
  }

  .offer-description {
    font-size: 0.7rem;
  }
}

@media (max-width: 700px) {
  .offer-card-wrapper {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    flex-direction: column;
  }
}
