* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.aboutus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
  background-color: rgba(203, 234, 255, 0.422);
  padding: 1rem;
}

.aboutus__info {
  width: 40%;
}

.aboutus__info h1 {
  margin-bottom: 1rem;
  color: #1a3a72;
  text-align: center;
}

.aboutus__info p {
  text-align: justify;
  font-size: 1.2rem;
}

.aboutus img {
  width: 20rem;
  height: 20rem;
}

@media (max-width: 700px) {
  .aboutus__info h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .aboutus__info p {
    text-align: justify;
    font-size: 0.8rem;
  }

  .aboutus img {
    width: 15rem;
    height: 15rem;
    margin-top: 2rem;
  }
}

@media (max-width: 550px) {
  .aboutus__info h1 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }

  .aboutus__info p {
    text-align: justify;
    font-size: 0.7rem;
  }

  .aboutus img {
    width: 12rem;
    height: 12rem;
  }
}

@media (max-width: 450px) {
  .aboutus {
    gap: 1rem;
  }
  .aboutus__info h1 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }

  .aboutus__info p {
    text-align: justify;
    font-size: 0.6rem;
  }

  .aboutus img {
    width: 10rem;
    height: 10rem;
  }
}
