* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.aboutus {
  text-align: center;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 2rem;
  color: #1a3a72;
}

.aboutus p span {
  color: #2dbe60;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left__content {
  width: 50%;
  padding: 2rem;
  margin-left: 5rem;
}

.left__content h1 {
  color: #1a3a72;
}

.right_content {
  width: 50%;
}

.right_content img {
  width: 25rem;
  height: 25rem;
  padding: 2rem;
}

@media (max-width: 900px) {
  .container {
    padding: 1rem;
  }

  .left__content {
    padding: 1rem;
    margin-left: 1rem;
    font-size: 0.8rem;
  }

  .right_content img {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 600px) {
  .aboutus {
    font-size: 1.5rem;
  }
  .left__content {
    font-size: 0.7rem;
  }

  .right_content img {
    width: 18rem;
    height: 18rem;
  }
}

@media (max-width: 478px) {
  .aboutus {
    font-size: 1.3rem;
  }
  .left__content {
    font-size: 0.4rem;
  }

  .right_content img {
    width: 12rem;
    height: 12rem;
  }
}
